canvas.main {
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
  position: absolute;
}

.overlay {
  font-size: 24px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: white;
  color: black;
  bottom: 0;
  font-family: monospace;
}
